<div class="widget-container">
  
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faBoxes"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{nombreachat}}</div>
        <div class="bottom">Products Sold</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{totalerevenu}}</div>
        <div class="bottom">Total Revenue</div>
      </div>
    </div>
  </div>
