body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  header {
	background-color: rgb(110, 110, 235);
	color: white;


	align-items: center;
	
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }
  
  .active {
	background-color: #4CAF50;
  }
  
  .search-bar {
	margin: 10px;
        padding: 10px;
   
        border-radius: 5px;
        width: 50%;
        font-size: 25px;
		
  }
  
  .search-bar input {
	padding: 0.5rem;
	margin-right: 0.5rem;
	border-radius: 0.25rem;
	border: none;
  }
  
  .search-bar button {
	background-color: white;
	color: blue;
	border: none;
	border-radius: 0.25rem;
	padding: 0.5rem;
	cursor: pointer;
  }
  
.marginn{
	margin-left: 20px;
}




main {
	display: flex;
	flex-wrap: wrap;}

	.product-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 2px 2px #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 300px;
       
      }

      .product-card img {
        max-width: 100%;
        height: 50%;
        margin-bottom: 10px;
        cursor: pointer;
      }

      .product-card h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .product-card p {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .product-card button {
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
}
.add-to-cart{
    margin: 10px;
}

#description {
  display: block;
}





.full-description {
  display: none;
  max-width: 800px;
  margin: 1rem;
}

.full-description p {
  margin-bottom: 1rem;
}

.zoomable {
  max-width: 100%;
  height: auto;
  cursor: zoom-in;
}

.zoomed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.zoomed img {
  max-width: 90%;
  max-height: 90%;
  cursor: zoom-out;
}
	  


.category {
    display: inline-block;
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }

  .category img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .category h2 {
    margin: 10px;
    font-size: 1.2em;
  }

  .category1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }