
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Company Name</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li ngbDropdown class="dropdown">
                    <a  ngbDropdownToggle class="nav-link dropdown-toggle"type="button" id="dropdownMenuButton1" aria-expanded="false">Shop</a>
                    <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                        <li><a routerLink="/listproducts1" ngbDropdownItem type="button" >All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a ngbDropdownItem href="#">Popular Items </a></li>
                        <li><a ngbDropdownItem href="#">New Arrivals </a></li>
                      </ul>
                </li>
      </ul>
      <div class="col-lg-4 col-sm-6 col-12 d-flex justify-content-end">
        <form class="d-flex">
          <a class="btn btn-outline-secondary text-white" href="/Panier">
            <i class="bi-cart-fill me-1"></i>
            Panier
            <span class="badge bg-secondary text-white ms-1 rounded-pill">0</span>
          </a>
        </form>
      </div>
    </div>
  </div>
</nav>

<section class="home">
  <div class="content">
      <h3>Biggest Clothe Sale
          <br> <span>Up To 50% Off</span>
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa, totam sed maxime animi facilis!</p>
      <button id="shopnow" (click)="navigation()">Acheter maintenant</button>
  </div>
  <div class="img">
      <img src="./assets/image/b2.png" alt="">
  </div>
</section>

<section id = "collection" class = "py-5">
  <div class = "container">
      <div class = "title text-center">
          <h2 class = "position-relative d-inline-block">New Collection</h2>
      </div>

      <div class = "row g-0">
          

          <div class = "collection-list mt-4 row gx-0 gy-3">
              <div class = "col-md-6 col-lg-4 col-xl-3 p-2 best">
                  <div class = "collection-img position-relative">
                      <img src = "./assets/images/c_formal_gray_shirt.png" class = "w-100">
                  </div>
                  <div class = "text-center">
                      <div class = "rating mt-3">
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                      </div>
                      <p class = "text-capitalize my-1">gray shirt</p>
                      <span class = "fw-bold">$ 45.50</span>
                  </div>
              </div>

          </div></div></div>    
</section>

<section id = "about" class = "py-5">
  <div class = "container">
      <div class = "row gy-lg-5 align-items-center">
          <div class = "col-lg-6 order-lg-1 text-center text-lg-start">
              <div class = "title pt-3 pb-5">
                  <h2 class = "position-relative d-inline-block ms-4">Qui sommes nous ?</h2>
              </div>
              <p class = "lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ipsam.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga blanditiis, modi exercitationem quae quam eveniet! Minus labore voluptatibus corporis recusandae accusantium velit, nemo, nobis, nulla ullam pariatur totam quos.</p>
          </div>
          <div class = "col-lg-6 order-lg-0">
              <img src = "./assets/images/about.png" alt = "" class = "img-fluid">
          </div>
      </div>
  </div>
</section>

<footer class = "bg-dark py-5">
  <div class = "container">
      <div class = "row text-white g-4">
          <div class = "col-md-6 col-lg-3">
              <a class = "text-uppercase text-decoration-none brand text-white" href = "index.html">Attire</a>
              <p class = "text-white text-muted mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum mollitia quisquam veniam odit cupiditate, ullam aut voluptas velit dolor ipsam?</p>
          </div>

          <div class = "col-md-6 col-lg-3">
              <h5 class = "fw-light">Links</h5>
              <ul class = "list-unstyled">
                  <li class = "my-3">
                      <a href = "#" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> Home
                      </a>
                  </li>
                  <li class = "my-3">
                      <a href = "#" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> Collection
                      </a>
                  </li>
                  <li class = "my-3">
                      <a href = "#" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> Blogs
                      </a>
                  </li>
                  <li class = "my-3">
                      <a href = "#" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> About Us
                      </a>
                  </li>
              </ul>
          </div>

          <div class = "col-md-6 col-lg-3">
              <h5 class = "fw-light mb-3">Contact Us</h5>
              <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                  <span class = "me-3">
                      <i class = "fas fa-map-marked-alt"></i>
                  </span>
                  <span class = "fw-light">
                      Albert Street, New York, AS 756, United States of America
                  </span>
              </div>
              <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                  <span class = "me-3">
                      <i class = "fas fa-envelope"></i>
                  </span>
                  <span class = "fw-light">
                      attire.support@gmail.com
                  </span>
              </div>
              <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                  <span class = "me-3">
                      <i class = "fas fa-phone-alt"></i>
                  </span>
                  <span class = "fw-light">
                      +9786 6776 236
                  </span>
              </div>
          </div>

         
      </div>
  </div>
</footer>