
<html >

<body>
    

    
    
    <div class="my-5">
      <div class="mx-auto w-25 " style="max-width:100%;">
        <h2 class="text-center mb-3">Ajouter Produit</h2>
        <form #produitForm="ngForm" (submit)="updateProduit()">
         
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="name" class="form-label">Nom</label>
              <input id="nom"   type="text" name="nom" class="form-control"  [(ngModel)]="produit.nom" required>
            </div>
          </div>


        
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="dob" class="form-label">Prix</label>
              <input id="prix" type="number" name="prix"  class="form-control" [(ngModel)]="produit.prix" required>
            </div>
          </div>

        
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="email" class="form-label">Quantité</label>
              <input id="quantite" type="numner" name="quantite" class="form-control" placeholder="Quantité" [(ngModel)]="produit.quantite" required>
            </div>
          </div>

          
       
          <div class="row">
            <div class="col-md-12 form-group mb-3">
                <label for="Address" class="form-label">Catégorie</label>
                <select class="form-select" aria-label="Default select example" id="categorie" name="categorie"(change)="selectCat($event)" [(ngModel)]="produit.categorie.id" required>
                    <option selected>Séléctionner une categorie</option>
                    <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.nom }}</option>
                  </select>

            </div>
          </div>
         
          <div class="row mb-3">
            <div>
                <label for="photo">Photo</label>
                <input #myInput type="file" id="photo" name="photo" (change)="onPhotoSelected($event)" [(ngModel)]="photo" required>
              </div>
        </div>
            
         
  
         
          <div class="row">
            <div class="col-md-12 form-group">
              
              <div class="col-md-12 text-end">
                <button class="btn btn-danger me-3"><i class="fa-solid fa-ban"></i>&nbsp;Annuler</button>
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-save"></i>&nbsp;Enregistrer</button>
            </div>
            </div>
          </div>

          <div>
            
          </div>
        </form>
  
      </div>
    </div>
    
</body>
</html>

