


<section class="wrapper">
  <div class="container-fostrap">
      <div>
          
          <h1 class="heading">
            Choisir ton template preféré
          </h1>
          <h4>Optez pour l'un de nos trois modèles de site web pour une présence en ligne professionnelle.</h4>
      </div>
      <div class="content">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-4">
                      <div class="card">
                          <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                          <img src="./assets/template10.png" />
                        </a>
                          <div class="card-content">
                              <h4 class="card-title">
                                  <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">Template Colonne chic
                                </a><br><br>
                              </h4>
                              <p style="line-height: 1.5;" class="">
                                Une template élégante qui présente les produits en colonnes pour un affichage clair et organisé. Elle contient une page d'accueil et une page de liste de produits.                              </p>
                          </div>
                          <div class="card-read-more">
                              <a (click)="firstchoice()"  class="btn btn-link btn-block">
                                  Choisir
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                      <div class="card">
                          <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                          <img src="./assets/template20.png" />
                        </a>
                          <div class="card-content">
                              <h4 class="card-title">
                                  <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> Template Ligne épurée
                                </a><br><br>
                              </h4>
                              <p style="line-height: 1.5;" class="">
                                Une template minimaliste qui met en avant les produits en les présentant un par ligne en largeur. Elle contient une page d'accueil et une page de liste de produits.                              </p>
                          </div>
                          <div class="card-read-more">
                              <a (click)="secondchoice()" class="btn btn-link btn-block">
                                Choisir
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                      <div class="card">
                          <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                          <img src="./assets/template30.png"/>
                        </a>
                          <div class="card-content">
                              <h4 class="card-title">
                                  <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">Template Liste rapide
                                </a><br><br>
                              </h4>
                              <p style="line-height: 1.5;" class="">
                                Une template simple qui affiche tous les produits sur une seule page de liste pour une navigation rapide et facile. Elle convient aux sites e-commerce avec un nombre de produits limité.                              </p>
                          </div>
                          <div class="card-read-more">
                              <a (click)="thirdchoice()" class="btn btn-link btn-block">
                                Choisir                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

